@import "../../../abstract/_varaibles.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: $dark;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  background-color: $bg-color;
}
