@import "../../../../../abstract/_varaibles";

.key {
  min-width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $key-color;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  &--wide {
    grid-column: span 2;
  }
  &--extra-wide {
    grid-column: span 3;
  }
  &--ultra-wide {
    grid-column: span 7;
  }
  &:hover {
    background-color: $key-color--hover;
    transition: background-color 0.3s ease-in;
  }
  &:active {
    background-color: $key-color--clicked;
  }
}
