@import "../../../../abstract/_varaibles.scss";

.main__keyboard {
  border: 1px solid $bg-color;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(15, 3rem);
  grid-template-rows: repeat(5, 3rem);
  gap: 5px;
}
